/* GÃ©nÃ©ralitÃ©s */
body {
	margin: 0;
	padding: 0;
	color:#fff;
	font: normal 90% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

h2 {
	font-size: 2em;
	font-weight:bold;
	color: #b7db44;
}

a {
	font-weight:bold;
	color:#fff;
}


/* Mise en place des diffÃ©rentes parties / slides */
#slide1, #slide3 {
	height: 1000px;
	padding-top:100px;
}

#slide2 {
    height: 1200px;
    padding-top: 100px;
}

#slide4 {
	height: 1000px;
	padding-top: 100px;
}

#slide1 {
	background:url(../img/image1.jpg) center 0 no-repeat fixed;	
}

#slide2 {
	background: url(../img/image2.jpg) center 0 no-repeat fixed;
}

#slide3 {
	background: url(../img/image3.jpg) center 0 no-repeat fixed;
}

#slide4 {
	background: url(../img/image4.jpg) center 0 no-repeat fixed;
}


/* Gestion du contenu */
.slide_inside {
	width: 980px;
	margin: 0 auto;
}

#slide1  .slide_inside {
    text-align:center;
    color: #b7db44;
}

#slide2 .slide_inside p {
	width: 500px;
	text-align:justify;
}









.ball {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: relative;
	background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); 
}
    .ball:before {
        content: "";
        position: absolute;
        top: 1%;
        left: 5%;
        width: 90%;
        height: 90%;
        border-radius: 100%;
        background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
        -webkit-filter: blur(5px);
        filter: blur(5px);
		z-index: 2;
	}
    .ball:after {
        content: "";
        position: absolute;
        display: none;
        top: 5%;
        left: 10%;
        width: 80%;
        height: 80%;
        border-radius: 100%;
        -webkit-filter: blur(1px);
        filter: blur(1px);
        z-index: 2;
        -webkit-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg); }
  
    .ball.bubble {
        background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
        -webkit-animation: bubble-anim 2s ease-out infinite;
		animation: float 6s ease-in-out infinite; 
    }
.ball.bubble:before {
    -webkit-filter: blur(0);
    filter: blur(0);
    height: 80%;
    width: 40%;
    background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255,255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
    -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
    transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
.ball.bubble:after {
    display: block;
    background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }
  
.stage {
    width: 250px;
    height: 250px;
    display: inline-block;
	margin: 20px;
}
  

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

section {
    display: flex;
    justify-content: space-between;
}

.two {
    margin-top: 160px;
}

.three {
    margin-top: 360px;
}

body {
    /* overflow: hidden; */
}


img{
    position: relative;
    top: 20%;
    height: 50px;
}

.js {
    width: 40px;
}




.icon_ctnr {
    width: 220px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.html-css , .git-npm{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

