body {
	margin: 0;
	padding: 0;
	color:#fff;
	font: normal 90% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
}

header nav {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #055194;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    height: 45.6px;
}

header a {
    text-decoration: none;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

header ul li {
    margin-right: 50px;
}

header ul li a {
    text-decoration: none;
    opacity: 0.5;
}

header ul li a:hover {
    opacity: 1;
}

.burger {
    display: none;
    margin-right: 20px;
    cursor: pointer;
}

.active {
    opacity: 1;
}

h2 {
	font-size: 2em;
	font-weight:bold;
	color: #b7db44;
}

a {
	font-weight:bold;
	color:#fff;
}

#slide1, #slide2 ,#slide3, #slide4 {
	height: 100%;
	/* padding-top:100px; */
}

#slide1 {
    background:url(../img/image1.jpg) center 0 no-repeat fixed;	
    padding-top: 15px;
}

.pres-ctnr {
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    display: flex;
    width: 800px;
    height: 500px;
}

.pres-ctnr img {
    margin: auto;
}

.pres-data {
    width: 50%;
    text-align: center;
    align-self: center;
    margin-right: 20px;
}

.pres-data h1 {
    font-size: 2.4rem;
}

.pres-data p {
    font-size: 16px;
}

.pres-data div {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.pres-data a {
    text-decoration: none;
    background-color: #055194;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 0.6rem 0.9rem;
    text-transform: uppercase;
}

.pres-data a:hover {
    background-color: steelblue;
}



#slide2 {
	background: url(../img/image2.jpg) center 0 no-repeat fixed;
}

#slide3 {
    background: url(../img/image3.jpg) center 0 no-repeat fixed;
    padding-top: 50px;
}

#slide4 {
    background: url(../img/image4.jpg) center 0 no-repeat fixed;
    padding-top: 50px;
}


/* Gestion du contenu */
.slide_inside {
	width: 980px;
	margin: 0 auto;
}

#slide1  .slide_inside {
    text-align:center;
    color: #b7db44;
}

#slide2 .slide_inside p {
	width: 500px;
	text-align:justify;
}

.ball {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: relative;
	background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); 
}
    .ball:before {
        content: "";
        position: absolute;
        top: 1%;
        left: 5%;
        width: 90%;
        height: 90%;
        border-radius: 100%;
        background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
        -webkit-filter: blur(5px);
        filter: blur(5px);
		z-index: 2;
	}
    .ball:after {
        content: "";
        position: absolute;
        display: none;
        top: 5%;
        left: 10%;
        width: 80%;
        height: 80%;
        border-radius: 100%;
        -webkit-filter: blur(1px);
        filter: blur(1px);
        z-index: 2;
        -webkit-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg); }
  
    .ball.bubble {
        background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
        -webkit-animation: float 6s ease-out infinite;
		animation: float 6s ease-in-out infinite; 
    }
.ball.bubble:before {
    -webkit-filter: blur(0);
    filter: blur(0);
    height: 80%;
    width: 40%;
    background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255,255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
    -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
    transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
.ball.bubble:after {
    display: block;
    background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }
  
.stage {
    width: 250px;
    height: 250px;
    display: inline-block;
	margin: 20px;
}
  

@-webkit-keyframes float {
    0% {
        -webkit-transform: translatey(0px);
        -moz-transform: translatey(0px);
        transform: translatey(0px);
    }
    50% {
        -webkit-transform: translatey(-20px);
        -moz-transform: translatey(-20px);
        transform: translatey(-20px);
    }
    100% {
        -webkit-transform: translatey(0px);
        -moz-transform: translatey(0px);
        transform: translatey(0px);
    }
}
  

@keyframes float {
    0% {
        -webkit-transform: translatey(0px);
        -moz-transform: translatey(0px);
        transform: translatey(0px);
    }
    50% {
        -webkit-transform: translatey(-20px);
        -moz-transform: translatey(-20px);
        transform: translatey(-20px);
    }
    100% {
        -webkit-transform: translatey(0px);
        -moz-transform: translatey(0px);
        transform: translatey(0px);
    }
}

section {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
}

.one, .two, .three {
    width: 250px;
}
.two {
    margin-top: 160px;
}

.three {
    margin-top: 360px;
}

.icon_ctnr {
    width: 220px;
    margin: auto;
    margin-top: 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}

.top , .bottom{
    width: 100%;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
}

.one .bottom ,.two .bottom{
    margin-top: 50px;
}

.two .bottom {
    margin-right: 20px;
}

/****************************/
/********* TABLETTE *********/
/****************************/

@media screen and (max-width: 840px) {
    .ball {
        width: 80%;
        height: 80%;
    }

    .stage {
        margin: 0;
    }

    .stage:first-of-type {
        margin-left: 20px;
    }

    .icon_ctnr {
        margin-top: 35px;
        justify-content: space-between;
    }

    .one .top, .two .top, .three .top{
        width: 90%;
        margin-right: 20px;
    }

    .one .bottom {
        width: 90%;
        margin-top: 30px;
        margin-right: 20px;
    }

    .two .bottom {
        width: 90%;
        margin-top: 30px;
        margin-right: 45px;
    }

    .three .bottom {
        width: 90%;
        margin-right: 20px;
    }

    .middle {
        margin-right: 20px;
    }

    .ball img {
        height: 45px;
    }
}
/****************************/
/********** MOBILE **********/
/****************************/

@media screen and (max-width: 500px) {

    header nav {
        justify-content: space-between;
    }

    header nav a {
        margin-left: 20px;
    }


    #nav[data-state=closed] ul li{
        display: none;
    }

    #nav[data-state=opened] ul {
        display: block;
        padding-top: 80px;
        text-align: right;
    }

    #nav[data-state=opened] ul li {
        margin-right: 20px;
        margin-bottom: 5px;
    }

    #nav[data-state=opened] ul li a {
        opacity: 1;
    }
    
    .burger {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #slide3 {
        flex-direction: column;
    }

    .stage {
        margin: auto;
        height: 200px;
    }

    .fullnav {
        padding-bottom: 100px;
    }

    .ball {
        width: 70%;
        height: 80%;
        margin-left: 30px !important;
    }

    .ball img {
        height: 40px;
    }

    .one .top, .two .top {
        width: 80%;
        margin-top: 25px;
        margin-right: 40px;
    }

    .three .top {
        width: 80%;
        margin-top: 20px;
        margin-right: 40px;
    }

    .bottom {
        width: 80%;
        margin-right: 40px;
    }

    .one .bottom, .two .bottom {
        margin-top: 30px;
    }

    .two .bottom {
        margin-right: 50px;
    }
    .icon_ctnr {
        margin-top: 0;
    }

    .middle {
        margin-right: 35px;
    }

    .two, .three {
        margin-top: 0;
    }
}