body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

button , input , select, label{
    font-size: 18px !important;
    font-family: 'Source Sans Pro', sans-serif;
}
header {
    background-color: steelblue;
}
/*** NAVBAR ***/
nav {
    display: flex;
    height: 40px;
    align-items: center;
    width: 80%;
    margin: auto;
}

nav div a:first-of-type {
    margin-left: 100px;
}

nav p , nav a{
    color: white;
    font-size: 18px;
}
nav a {
    text-decoration: none;
    opacity: 0.5;
    margin-right: 50px;
}

nav a:hover {
    opacity: 1;
}

.active {
    opacity: 1;
}

/*** PAGE D'ACCUEIL ***/

.welcome {
    width: 80%;
    margin: auto;
    background-color: #e8ecef;
}

.welcome h1, .welcome p {
    padding-left: 20px;
}

.welcome h1 {
    padding-top: 20px;
}

.welcome p {
    padding-bottom: 20px
}

/*** PAGE DE RECHERCHE ***/

.search , .searchForm {
    width: 80%;
    margin: auto;
}

.searchForm {
    margin-bottom: 30px;
}

.searchForm  form {
    display: flex;
    align-items: center;
}

.searchForm div {
    margin-right: 60px;
}

.searchForm div label {
    margin-right: 30px;
}

#submit {
    background-color: steelblue;
    border: none;
    border-radius: 50px;
    color: white;
    width: 50px;
    height: 30px;
    font-size: 15px;
}

#submit:hover {
    background-color: cornflowerblue;
    cursor: pointer;
}

#tracks ,#favTracks{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#randomFav {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#randomFav button {
    margin-top: 20px;
}

.track, .randomTrack{
    width: 350px;
    margin-bottom: 30px;
    text-align: center;
    border: solid 1px #E8ECEF;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.track div , .randomTrack div{
    margin-top: 10px;
}

.track div a {
    position: absolute;
    top: 0;
    right: 60px;
}


.track h1 , .randomTrack h1{
    margin: 0;
}

.track div , .randomTrack div{
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}

.track img , .randomTrack img{
    height: 120px;
}
.track-data h3 {
    margin: 0;
    margin-top: 5px;
}

.track-data p {
    margin-top: 5px;
    margin-bottom: 0;
}

.track-data button {
    margin-top: 5px;
}

.unchecked:hover {
    cursor: pointer;
}

.checked:hover {
    cursor: pointer;
}

#next_ctnr , #rdm_ctnr{
    text-align: center;
    margin-bottom: 20px;
}

#rdm_ctnr {
    margin-top: 20px;
}

#next , #rdmTrack{
    background-color: steelblue;
    border: none;
    border-radius: 40px;
    color: white;
    height: 30px;
    align-self: center;
    font-size: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

#next:hover, #rdmTrack:hover {
    background-color: cornflowerblue;
    border: none;
    border-radius: 40px;
    color: white;
    height: 30px;
    align-self: center;
    font-size: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

#rdmTrack i {
    margin-right: 10px;
}

#next:hover, #rdmTrack:hover {
    cursor: pointer;
}

#next_ctnr a {
    position: fixed;
    right: 50px;
    bottom: 100px;
}

#next_ctnr i {
    color: steelblue;
}

#next_ctnr i:hover {
    color: cornflowerblue;
    cursor: pointer;
}

.goFind {
    text-decoration: none;
    color: steelblue;
}

.goFind:hover {
    color: cornflowerblue;
}